@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-slate-800 antialiased selection:bg-brand-500 selection:text-white min-h-screen;
  }
}

@layer utilities {
  .text-3d-green {
    background: linear-gradient(to bottom, #fef08a 0%, #84c142 40%, #156d49 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .text-outline-white {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  }

  .font-marko {
    font-family: "Marko One", serif !important;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
